name: CI (Build)

on:
    push:
        branches:
            - "*"
    pull_request:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 18

            - name: Install dependencies
              run: npm install

            # - name: Lint (可选)
            #   run: npm run lint

            - name: Build Plugin
              run: npm run build

            - name: Upload build artifacts
              uses: actions/upload-artifact@v3
              with:
                  name: zhihu-obsidian-${{ github.sha }}
                  path: |
                      main.js
                      manifest.json
                      styles.css

            # - name: Test (可选)
            #   run: npm test
